@import url(global.css);
body{
    background-attachment: fixed;
}
main{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


/* contact form */
#form{
    width: 30vw;
    min-width: 280px;
    box-sizing: border-box;
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;

}
.inputFields{
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    background: linear-gradient(153.08deg, rgba(255, 255, 255, 0.05) -9.7%, rgba(255, 255, 255, 0.02) 121.69%);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(20px);
    box-shadow: 1px 2px 15px rgba(255, 255, 255, 0.028);
}

.inputFields:hover{
    border: 1px solid white;
}

#form label{
    display: block;
    font-size: 13px;
    color: #c4c4c4;
    font-weight: 100;
    margin-left: 16px;
    margin-top: 14px;
}

::placeholder {
    color: #d9d9d9;
    font-size: 18px;
    opacity: 1; 
    font-family: sans-serif;
  }

input, textarea{

    color: white;
    font-size: 20px;
    margin-left: 16px;
    margin-bottom: 10px;
}
:focus::placeholder {
    color: transparent;
}

input[type=text] {
    box-sizing: border-box;
    height: 40px; 
    width: calc(100% - 32px);
    border: none;
    background-color: #00000000;

}
input[type=text]:focus{
    outline: none;
}


#form textarea{
    margin-top: 8px;
    box-sizing: border-box;
    width: calc(100% - 32px);
    height: 150px;
    background-color: #00000000;
    border: none;
    /* padding: 12px 20px; */
   
}
#form textarea:focus{
    outline: none;
}

input[type=submit] {
    
    color: white;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 15px;
    margin-left: 0;
    border: 1px solid white;
    border-radius: 30px;
    width: 100%;
    transition: 0.2s;
}

input[type=submit]:hover{
    background-color: white;
    color: #000000;
    border: 1px solid rgb(255, 255, 255);
    
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white;
    font-size: inherit;
}


/* Aside */
aside{
    margin-left: 4vw;
    width: 25vw;
    min-width: 280px;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 80px;
}
aside img{
    border-radius: 50%;
}
h2 span{
    background: linear-gradient(130.24deg, #77cafa , #bcf8ea , #a494fd, #77cafa );
    background-size: 600% 600%;
    animation: gradient 18s ease infinite;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#contactways a{
    color: white;
    padding: 11px 20px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 30px;
    font-size: large;
    font-weight: 100;
    transition: 0.3s;
}
#contactways a:hover{
    background: rgba(255, 255, 255, 0.2);
    
}
#contactways div{
    margin-bottom: 40px;
}
#contactways h4{
    color: #c4c4c4;
    margin-bottom: 2.5vh;
    font-weight: 100;
    font-size: small;
}



/* Responsive Design */
@media only screen and (max-width: 767px), 
screen and (max-height: 480px){
    main{
        display:block;
    }

    /* contact form */
    #form{
        width: 100vw;
        margin-bottom: 50px;
    }

    /* Aside */
    aside{
        width: 100vw;
        margin: 0;
        margin-bottom: 50px;
    }
    #contactways {
        display: grid;
        /* grid-template-columns: auto auto auto;
        gap: 0.5vh 0vw; */
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 1rem;
        margin: 2vh;
        
    }

}